.input{
  width: 100%;
  max-width: 400px;
}
.forget-pwd{
  padding: 15px 0 15px 0;
  margin: 20px 0 20px 0;
  opacity: 70%;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 20px;
  cursor: pointer;
  color: #FFFFFF !important;
}
