nav.nav-wrapper {
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0px 25px;
  // height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;

}

.notification {
  display: flex;
  justify-content: end;

}

.icon {
  color: #888 !important;
  cursor: pointer;
  padding: 0px 6px;
}

.add-btn {
  height: 38px !important;
  width: 80px !important;
  cursor: pointer;
  color: #3baad2 !important;
}